
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 270 20% 98%; /* Light Gray */
    --foreground: 270 10% 10%;
    
    --card: 270 20% 98%;
    --card-foreground: 270 10% 10%;
    
    --popover: 270 20% 98%;
    --popover-foreground: 270 10% 10%;
    
    --primary: 275 24% 61%; /* Soft Purple */
    --primary-foreground: 270 20% 99%;
    
    --secondary: 275 20% 90%;
    --secondary-foreground: 275 24% 30%;

    --muted: 270 20% 94%;
    --muted-foreground: 270 10% 45%;

    --accent: 162 30% 80%; /* Light Teal */
    --accent-foreground: 162 40% 20%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 270 20% 90%;
    --input: 270 20% 92%;
    --ring: 275 24% 61%;

    --radius: 0.75rem;
  }
 
  .dark {
    --background: 270 10% 10%;
    --foreground: 270 20% 98%;

    --card: 270 10% 12%;
    --card-foreground: 270 20% 98%;

    --popover: 270 10% 10%;
    --popover-foreground: 270 20% 98%;

    --primary: 275 24% 71%;
    --primary-foreground: 275 24% 10%;

    --secondary: 275 15% 25%;
    --secondary-foreground: 275 20% 90%;

    --muted: 270 10% 20%;
    --muted-foreground: 270 20% 70%;

    --accent: 162 40% 30%;
    --accent-foreground: 162 30% 90%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 270 10% 25%;
    --input: 270 10% 22%;
    --ring: 275 24% 71%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-tap-highlight-color: transparent;
  }
}

@layer components {
    .font-headline {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-weight: 700;
    }
}
    
@layer utilities {
  .animated-gradient-cover {
    @apply relative overflow-hidden;
    background: linear-gradient(
      -45deg,
      hsl(var(--primary) / 0.8),
      hsl(var(--accent) / 0.8),
      hsl(var(--secondary) / 0.8),
      hsl(var(--primary) / 0.8)
    );
    background-size: 400% 400%;
    animation: move-gradient 15s ease infinite;
  }

  @keyframes move-gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
